node_modules
.git
.gitignore
dist
build
.env
.env.local
.DS_Store
npm-debug.log
yarn-error.log
.vscode
.idea
coverage
.nyc_output
certs
data/config.json
node-portable.zip
node-v20.11.0-win-x64
.pytest_cache
*.pyc
__pycache__
